
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 50px;
  width: 50px;
  padding: 1px;
  margin-bottom: 20px;
}

.color {
  color: red;
}

.nav-link {
  margin-left: 100px;
}

main {
  margin-bottom: 4%;
}

#main-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  margin-top: 8%;
  margin-left: 12%;

}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  width: 300px;
  background: rgba(255, 255, 255, 0.107);
}

.main img {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

footer h2 {
  padding: 4% 0;
  color: white;
  text-align: center;
}

.movieDetails h2 {
  color: whitesmoke;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 1.5%;
}

.Btn-comment {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 5%;
  margin-left: 10%;
  background: red;
  color: aliceblue;
  border-radius: 5px;
  padding: 2%;
  width: 65%;
}

.Btn-comment:hover {
  transform: scale(1.2);
}

.insta {
  color: #fb3958;
  margin-left: 1.5%;
}

.insta:hover {
  transform: scale(1.2);
}

.likeCount {
  color: white;
  margin-left: 1.5%;
}

.each-show {
  color: white;
}

footer {
  background-color: #1f1f1f;
  color: beige;
  bottom: 0;
  display: block;
  padding: 3% 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  z-index: 2;
}

footer a {
  list-style: none;
  text-decoration: none;
}

footer h5 {
  font-size: 1.5rem;
}

.fa-regular {
  color: red;
}

.comment_modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.popup {
  position: absolute;
  width: 80%;
  margin: 60px auto;
  top: 50%;
  padding: 20px;
  max-width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow-y: auto;
  height: 90vh;
  background-color: #fff;
  background-size: cover;
}

.firstinfos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal_close {
  color: rgb(65, 60, 60);
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  border: none;
  background: none;
}

.modal_close:hover {
  transform: scale(1.3);
  color: red;
  border: none;
  background: none;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding-top: 5px;
  list-style-type: none;
  color: #fff;
}

.content {
  border-style: solid;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #6d712e;
  padding: 2px;
}

p .summary {
  text-align: center;
  width: 25rem;
  font-style: normal;
  font-weight: bold;
  margin: 0 auto;
}


.commentHead {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.commentList {
  list-style-type: none;
  text-align: center;
  margin-top: 5px;
  padding: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 2px;
  margin-bottom: 8px;
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 5px;
  padding: 4px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  padding: 5px;
}

.new_comment {
  width: 30%;
  background-color: #6d712e;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  margin-left: 35%;
  margin-top: 2%;
}
