* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.likes > img {
  width: 16px;
  height: 16px;
}

#main-Container > div > img {
  width: 200px;
  height: 300px;
  margin-top: 80px;
  border-radius: 20px;
}

#main-Container {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url('./images/christy.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#main-Container > div {
  width: 200px;
}

.each-show {
  color: white;
}

.Btn-comment {
  background-color: #ffd700;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

footer {
  background-color: #1f1f1f;
  color: beige;
  bottom: 0;
  display: block;
  padding: 0.2rem;

  /* position: fixed; */
  text-align: center;
  width: 100%;
  z-index: 2;
}

footer a {
  list-style: none;
  text-decoration: none;
}

.fa-regular {
  color: red;
}
