/* .likes > img {
  width: 16px;
  height: 16px;
}

#main-Container > div > img {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  border-radius: 20px;
}

#main-Container {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#main-Container > div {
  width: 200px;
} */

body {
  margin: 0;
  background: #000;
}

main {
  margin-bottom: 4%;
}

#main-Container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1%;
  row-gap: 1.6%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 0;
  padding-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  background: rgba(255, 255, 255, 0.107);
}

.main img {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

footer h2 {
  padding: 4% 0;
  color: white;
  text-align: center;
}

.movieDetails h2 {
  color: whitesmoke;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 1.5%;
}

.Btn-comment {
  margin-bottom: 5%;
  width: 80%;
  margin-left: 10%;
  border-radius: 4%;
  background: red;
  color: aliceblue;
}

.Btn-comment:hover {
  transform: scale(1.2);
}

.insta {
  color: #fb3958;
  margin-left: 1.5%;
}

.insta:hover {
  /* background: #fb3958; */

  transform: scale(1.2);
}

.likeCount {
  color: white;
  margin-left: 1.5%;
}

footer {
  margin-top: 12%;
  border-top: 1px solid grey;
  background: rgba(255, 255, 255, 0.107);
}
